@charset "UTF-8";

html {
  font-size: 62.5%;
  color: #3b3b3b;
}

.header {
  width: 100%;
  height: 75px;
  background: #24436F;
}

.category-header {
  width: 100%;
}

.ranking {
  width: 100%;
}

.main {
  display: flex;
  width: 1127px;
  margin: 40px auto 103px;
}

.sidemenu {
  width: 312px;
  margin-left: 37px;
}

.footer {
  width: 100%;
  height: 356px;
  background: #fafafa;
}

.header-container {
  width: 1126px;
  margin: 0 auto;
}

.header-container--small {
  display: flex;
  align-items: center;
  padding: 12px 0 5px;
}

.header-logo__link {
  display: flex;
  align-items: center;
}

.header-logo__text {
  color: #BFC9D7;
  margin-left: 18px;
  font-size: 1.2rem;
}

.release-list {
  display: block;
  margin-left: 44px;
  background: #345584;
  border-radius: 4px;
  padding: 6px 15px 5px;
}

.release-list__item {
  display: inline;
  font-size: 1.3rem;
}

.release-list__link {
  color: #BFC9D7;
}

.release-list__link:hover {
  color: #fff;
}

.release-list__link::after {
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background: #BFC9D7;
  position: absolute;
  top: 0;
  right: 7px;
}

.release-list__item:last-child>.release-list__link::after {
  display: none;
}

.release-list__item:not(:last-child) {
  position: relative;
  padding-right: 15px;
}

.header-search__form {
  margin-left: 15px;
  display: flex;
}

.header-search__input {
  appearance: none;
  height: 30px;
  font-size: 1.3rem;
  padding-left: 15px;
  border-radius: 4px 0 0 4px;
  width: 258px;
  outline: 0;
  border: inherit;
}

.header-search__input::placeholder {
  color: #bbb;
}

.header-search__button {
  background-color: #3081c9;
  width: 30px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  // background-image: url(../images/search_icon.png);
  background-repeat: no-repeat;
  background-position: 6px 6px;
  outline: 0;
  appearance: none;
  text-transform: none;
  border: inherit;
  cursor: pointer;
}

.main-header {
  float: left;
}

.main-header__item {
  display: inline;
  font-size: 1.3rem;
}

.main-header__link {
  color: #BFC9D7;
}

.main-header__link:hover {
  color: #fff;
  font-weight: 700;
}

.main-header__link::after {
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background: #BFC9D7;
  position: absolute;
  top: 0;
  right: 7px;
}

.main-header__item:last-child>.main-header__link::after {
  display: none;
}

.main-header__item:not(:last-child) {
  position: relative;
  padding-right: 15px;
}

.main-header__link.is-link-active {
  font-weight: 700;
  color: #fff;
}

.category-header {
  background-color: #fff;
  padding: 13px 0 10px;
}

.category-list {
  display: flex;
  justify-content: center;
}

.category-list__item {
  display: inline;
  margin-right: 20px;
}

.category-list__item:last-child {
  margin-right: 0;
}

.category-list__link {
  font-size: 1.3rem;
  color: #294c7a;
}

.category-list__link.is-link-active {
  font-weight: 700;
}

.category-list__link:hover {
  font-weight: 700;
}

.ranking {
  background-color: #f2f2f2;
}

.ranking-container {
  width: 1126px;
  margin: 0 auto;
}

.ranking-list {
  display: flex;
  justify-content: center;
}

.ranking-list__item {
  margin: 22px 0;
  list-style: none;
  width: 181px;
}

.ranking-list__item:not(:first-child) {
  margin-left: 8px;
}

.ranking-card__image-wrap {
  height: 100px;
  position: relative;
  overflow: hidden;
}

.ranking-card__image {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.ranking-card__image:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.ranking-card__image-rank-number {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 700;
  background-color: #294C7A;
  color: #fff;
  font-style: italic;
  text-align: center;
  letter-spacing: 3px;
  z-index: 1;
}

.ranking-card__content {
  background-color: #fff;
  padding: 9px 10px;
}

.ranking-card__title {
  color: #333;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  height: 57px;
}

.ranking-card__title:hover {
  color: rgb(35, 164, 187);
  text-decoration: underline rgb(35, 164, 187);
}

.ranking-card__info {
  color: #a2a2a2;
}

.ranking-card__time-wrap {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.ranking-card__time-image {
  margin-right: 5px;
}

.ranking-card__company {
  font-size: 1.3rem;
}

.ranking-card__view {
  font-size: 1.2rem;
}

.main-contents {
  width: 779px;
}

.main-contents__header {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
}

.main-contents__body {
  margin: 20px 0 30px;
}

.main-contents__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-article__container {
  display: flex;
  height: 118px;
  padding: 15px 0 16px;
  border-bottom: 1px solid #e4e4e4;
}

.main-article__content {
  width: 265px;
}

.main-article__title {
  height: 66px;
  color: #3b3b3b;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-article__title:hover {
  color: rgb(35, 164, 187);
  text-decoration: underline rgb(35, 164, 187);
}

.main-article__info {
  display: flex;
  padding-top: 4px;
}

.main-article__time {
  display: flex;
  align-items: center;
  color: #a2a2a2;
}

.main-article__time-text {
  margin-left: 5px;
  font-size: 1.2rem;
}

.main-article__company {
  margin-left: 12px;
  color: #a2a2a2;
  font-size: 1.3rem;
}

.main-article__image {
  margin-left: 15px;
  width: 100px;
  height: 66px;
  overflow: hidden;
}

.main-article__image-img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-article__image-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.main-contents__more {
  text-align: center;
}

.main-contents__more-button {
  background-color: #3081C9;
  color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  width: 110px;
  height: 38px;
  border: inherit;
  outline: 0;
  appearance: none;
  cursor: pointer;
}

.sidemenu__header--title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
}

.sidemenu__body {
  margin-top: 40px;
  border-bottom: 1px solid #e4e4e4;
}

.sidemenu__body-wrap {
  margin-bottom: 10px;
  padding-top: 5px;
}

.sidemenu-keywords {
  display: flex;
  flex-wrap: wrap;
}

.sidemenu-keywords__item {
  font-size: 1.2rem;
  display: inline;
  border-radius: 11px;
  padding: 2px 8px;
  margin: 0 10px 9px 0;
}

.sidemenu-keywords__item:not(:last-child) {
  background-color: #f1f1f1;
}

.sidemenu-keywords__item:not(:last-child):hover {
  font-weight: 600;
}

.sidemenu-keywords__item:last-child {
  background-color: #fff;
  border: 1px solid #f1f1f1;
}

.sidemenu-keywords__item:last-child:hover {
  color: rgb(35, 164, 187);
}

.sidemenu-keywords__link {
  color: inherit;
}

.footer-container {
  width: 1126px;
  margin: 0 auto;
  padding-top: 60px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.footer-contents {
  height: 230px;
}

.footer-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: #000;
}

.footer-list {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.footer-list__wrapper {
  display: flex;
}

.footer-list__item {
  color: #797979;
  font-size: 1.2rem;
  height: 12px;
  list-style: none;
  width: 281px;
  margin-bottom: 18px;
}

.footer-list__link {
  color: inherit;
}

.footer-list__link:hover {
  color: #000;
  text-decoration: underline #000;
}

.footer-terms {
  height: 66px;
  color: #797979;
}

.footer-terms__list {
  display: flex;
  align-items: center;
  height: 46px;
}

.footer-terms__item {
  display: inline;
  font-size: 1.2rem;
}

.footer-terms__link {
  color: inherit;
}

.footer-terms__link:hover {
  color: #000;
  text-decoration: underline #000;
}

.footer-terms__item:not(:first-child) {
  margin-left: 20px;
}

.footer-copyright {
  font-size: 1.1rem;
}