@charset 'UTF-8';
// ======================================
// 色の基本設定
// ======================================

// basic color
$color-trueWhite: #fff;
$color-trueBlack: #000;
$color-gray: #bfc9d7;
$color-accent: rgb(35, 164, 187);
$color-black: #3b3b3b;

// background color
$bg-header: #24436f;

// btn
$btn-primary: #3081c9;
