.main {
  display: flex;
  width: $layout-width;
  margin: 40px auto 103px;

  &-contents {
    width: 779px;

    &__header {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
    }

    &__body {
      margin: 20px 0 30px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__more {
      text-align: center;

      &-btn {
        background-color: #3081c9;
        color: #fff;
        font-size: 1.4rem;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .24);
        border-radius: 2px;
        width: 110px;
        height: 38px;
        border: inherit;
        outline: 0;
        appearance: none;
        cursor: pointer;
      }
    }
  }

  &-article {
    border-bottom: 1px solid #e4e4e4;

    &__container {
      display: flex;
      height: 118px;
      padding: 15px 0 16px;
    }

    &__content {
      width: 265px;
    }

    &__title {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.6;
      height: 66px;
      color: $color-black;

      &:hover {
        color: $color-accent;
        text-decoration: underline $color-accent;
      }
    }

    &__info {
      display: flex;
      padding-top: 4px;
    }

    &__time {
      margin-left: 5px;
      font-size: 1.2rem;
      color: #a2a2a2;

      &-wrap {
        display: flex;
        align-items: center;
      }
    }

    &__company {
      margin-left: 12px;
      color: #a2a2a2;
      font-size: 1.3rem;
    }

    &__image {
      margin-left: 15px;
      width: 100px;
      height: 66px;
      overflow: hidden;

      &-img {
        transform: scale(1);
        transition: .2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
