.ranking {
  width: 100%;
  background-color: #f2f2f2;

  &__container {
    width: $layout-width;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: center;
    counter-reset: rank;
  }
}

.ranking-card {
  margin: 22px 0;
  list-style: none;
  width: 181px;

  &:not(:first-child) {
    margin-left: 8px;
  }

  &__thumbnail {
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      counter-increment: rank;
      content: counter(rank);
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      font-size: 1.7rem;
      line-height: 1.5;
      font-weight: 700;
      background-color: #294c7a;
      color: #fff;
      font-style: italic;
      text-align: center;
      letter-spacing: 3px;
      z-index: 1;
    }
  }

  &__image {
    transform: scale(1);
    transition: .3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__content {
    background-color: $color-trueWhite;
    padding: 9px 10px;
  }

  &__title {
    color: #333;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 400;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    height: 57px;

    &:hover {
      color: $color-accent;
      text-decoration: underline $color-accent;
    }
  }

  &__info {
    color: #a2a2a2;
  }

  &__time {
    position: relative;
    font-size: 1.2rem;
    line-height: 1.25;
    display: block;
    margin-top: 2px;
    padding-left: 17px;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/time_icon.png);
      background-repeat: no-repeat;
      background-size: 15px 15px;
      width: 15px;
      height: 15px;
      display: inline-block;
      left: 0;
    }
  }

  &__company {
    margin-top: 3px;
    font-size: 1.3rem;
  }

  &__view {
    margin-top: 2px;
    font-size: 1.2rem;
  }
}
