.ranking {
  width: 100%;
  background-color: #f2f2f2;

  &-container {
    width: $layout-width;
    margin: 0 auto;
  }

  &-list {
    display: flex;
    justify-content: center;
  }

  &-card {
    margin: 22px 0;
    list-style: none;
    width: 181px;

    &:not(:first-child) {
      margin-left: 8px;
    }

    &__image {
      transform: scale(1);
      transition: .3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      &-wrap {
        height: 100px;
        position: relative;
        overflow: hidden;
      }

      &-rank-number {
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        font-size: 1.7rem;
        line-height: 1.5;
        font-weight: 700;
        background-color: #294c7a;
        color: #fff;
        font-style: italic;
        text-align: center;
        letter-spacing: 3px;
        z-index: 1;
      }
    }

    &__content {
      background-color: $color-trueWhite;
      padding: 9px 10px;
    }

    &__title {
      color: #333;
      font-size: 1.3rem;
      line-height: 1.5;
      font-weight: 400;
      -webkit-transition: .2s ease-in-out;
      transition: .2s ease-in-out;
      height: 57px;

      &:hover {
        color: $color-accent;
        text-decoration: underline $color-accent;
      }
    }

    &__info {
      color: #a2a2a2;
    }

    &__time {
      &-wrap {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
      }

      &-image {
        margin-right: 5px;
      }
    }

    &__company {
      font-size: 1.3rem;
    }

    &__view {
      font-size: 1.2rem;
    }
  }
}
