.sidemenu {
  width: 312px;
  margin-left: 37px;

  &__header {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.5;
  }

  &__body {
    margin-top: 45px;
  }

  &-keywords {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;

    &__item {
      font-size: 1.2rem;
      display: inline;
      border-radius: 11px;
      padding: 2px 8px;
      margin: 0 10px 9px 0;

      &:last-child {
        background-color: $color-trueWhite;
        border: 1px solid #f1f1f1;
      }

      &:not(:last-child) {
        background-color: #f1f1f1;
      }

      &:last-child:hover {
        color: $color-accent;
      }

      &:not(:last-child):hover {
        font-weight: 600;
      }
    }

    &__link {
      color: inherit
    }
  }
}
