.category-header {
  background-color: #fff;
  padding: 13px 0 10px;
}

.category-list {
  display: flex;
  justify-content: center;
}

.category-list_item {
  display: inline;
  font-size: 1.3rem;
  padding: 0 10px;
  color: #294c7a;
}

.category-list_item:first-child {
  font-weight: 700;
}

.category-list_item:hover {
  font-weight: 700;
}