.sidemenu_header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.sidemenu_body {
  margin-top: 40px;
  border-bottom: 1px solid #e4e4e4;
}

.sidemenu_body-wrap {
  margin-bottom: 10px;
  padding-top: 5px;
}

.sidemenu_keywords {
  display: flex;
  flex-wrap: wrap;
}

.sidemenu_keywords-item {
  font-size: 1.2rem;
  display: inline;
  border-radius: 11px;
  padding: 2px 8px;
  margin: 0 10px 9px 0;
}

.sidemenu_keywords-item:not(:last-child) {
  background-color: #f1f1f1;
}

.sidemenu_keywords-item:not(:last-child):hover {
  font-weight: 600;
}

.sidemenu_keywords-item:last-child {
  background-color: #fff;
  border: 1px solid #f1f1f1;
}

.sidemenu_keywords-item:last-child:hover {
  color: rgb(35, 164, 187);
}